{% extends "base_chart.html" %}

{% block chart_content %}
<button onclick="sendMessage()">Click me</button>
<div id="divText1"></div>
<div id="divText2"></div>
<table>
    <tr>
        <td><canvas id="myChart1" width="600" height="400"></canvas></td>
        <td><canvas id="myChart2" width="600" height="400"></canvas></td>
    </tr>
</table> 
    
<script>
  var conn = JSON.parse('{{ conn | tojson | safe }}');
  var values = [{% for item in values %} {{item}},{% endfor %}];
  var labels = [{% for item in labels %}"{{item}}",{% endfor %}];
  var label = '{{ legend }}';

  document.getElementById("divText1").innerHTML=conn.host;
  document.getElementById("divText2").innerHTML=conn.port;
  
  connect(conn.host, conn.port);

  var chart1 = BuildChart(labels, values, label, "myChart1");


</script>
{% endblock %}